# =========================
# Compiled class files
# =========================
*.class
*.jar
*.war
*.ear

# =========================
# Build directories
# =========================
/target/
/out/
/bin/

# =========================
# Logs
# =========================
*.log
*.tmp
*.temp

# =========================
# IDE files
# =========================
# IntelliJ IDEA
/.idea/
/*.iml
/out/
/*.iws
/.idea_modules/
/*.ipr

# Eclipse
/.classpath
/.project
/.settings/
/bin/

# =========================
# Maven
# =========================
/.mvn/
/**/target/
/dependency-reduced-pom.xml
/buildNumber.properties

# =========================
# TestNG / Cucumber / Appium
# =========================
/test-output/
/reports/
/evidences/
/screenshots/
/allure-results/
/allure-report/
/cucumber-html-reports/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Other
# =========================
*.apk
*.keystore
*.jks
